## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the Android SDK. For example:
# sdk.dir=C\:\\Users\\YourName\\AppData\\Local\\Android\\Sdk
# or on Mac/Linux:
# sdk.dir=/Users/YourName/Library/Android/sdk

sdk.dir=YOUR_ANDROID_SDK_PATH_HERE
